.login{
    display: grid;
    place-items: center;
    background-image:url("../../Assets/bg-start.jpg.jpg");
    background-size: cover;
    height: 100vh;
    width:100%;

 } 
img{
    display:flex;
    position: relative;
    align-items:center;
    left:114px;
    width:60%;
    opacity:0.6;

    @media screen amd (min-width: 200px) {
        width: 40%;
    }
}
.a{
    display: flex;
    justify-content: center;
    margin-left:0px;
    border-radius: 99px;
    color:rgb(211, 204, 204);
    opacity: 0.7;
    size-adjust: auto ;
    font-size:300%;

    @media screen amd (min-width: 200px) {
        width: 40%;
    }
}
.a:hover{
    color: white;
    cursor:pointer;
}
.music_text{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    color:rgb(200, 191, 191);
    opacity: 0.9;
    font-size:400%;

    background: -webkit-linear-gradient(62deg, #1d08bc 0%, #9f1818 50%, #3d01e1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

