.navbar{
    position: absolute;
    top: 0;
    height: 50px;
    background: #070707;
    left: 187px;
    width:1276px;
    padding:20px;
}
.user-icon{
    display: flex;
    margin-left: 1210px;
    color: rgb(85, 87, 89);
    filter:greyscale;

    
}