.Sidebar{
    width:200px;
    position: relative;
  height: 99.9vh;
  background-image: linear-gradient(rgb(54, 53, 55), rgb(30, 28, 32));
  padding-top: 20px;
  backdrop-filter: blur(80px);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  
}

.logo{
    top:5px;
    left:-5px;
    height: 90px;
    width: 165px;
    object-fit: contain;
    object-position: center;
    padding-left: 20px;
    margin-bottom: 20px;
    opacity:1;
}
li{
  padding-left: 20px;
  text-transform: capitalize;
  margin-bottom: 15px;
  cursor:pointer;
}
li.active{
  border-left: 5px solid rgb(255, 3, 3);
  padding-left: 18px;
}

.span{
  color: rgb(240, 45, 45);
  font-weight:400;
}
span {
    color: white;
    background-color:rgba(57, 51, 62,0.2);
    padding: 20.5px 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-out;
  }
  span:hover{
    background-color:rgba(57, 51, 62,1);
    font-size: 20px;
  }
.lists{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}