*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.playerBar{
  margin:0px;
  padding:0px;
  position: absolute;
  top:89.8%;
  left: 0;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right bottom,
   rgba(18, 15, 19, 0.7),
   rgba(255, 255, 255, 0.3));
  z-index: 99;
 backdrop-filter: blur(1px);
}
.time-control{
  width: 100%;
  display: flex;
  height: 9px;
  }

input{
  width:100%;
  padding: 1rem 0rem;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  appearance: none;
  cursor: pointer;
}
.time-control.p{
  padding: 1rem;
}
.play-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;

}
svg{
  cursor: pointer;
}
input [type="range"]:focus{
  outline:none;
}
input [type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border: none;
  cursor: pointer;
}
.track{
  background: rgb(141, 139, 139);
  width: 100%;
  height:1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.animate-track{
  background: rgb(48, 42, 42);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  transform: translateX(0%);
  pointer-events: none;
}